
#top-container {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#left-top-container {
    width: 50%;
}

#right-top-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#body-title {
    font-size: 40px;
    margin-bottom: 75px;
}

#body-description {
    font-size: 15px;
}

#signup-label {
    text-align: center;
    font-style: italic;
    color: grey;
}

#why-us-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

#why-us-header {
    color: var(--IU-red);
    font-size: 25px;
}

#why-us-list {
    color: var(--IU-red);
}

.bottom-container {
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 100px;
    border-top: 1px solid lightgrey;
}

.services-header {
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
    color: var(--IU-red);
    font-weight: bold;
}

.services-container {
    display: flex;
    justify-content: space-between;
}

.service-card {
    margin-top: 25px;
    width: 30%;
}

.na-service-content {
    color: lightgrey;
}