
<!-- Include the custom toolbar with the sign in button -->
<app-toolbar-with-signin></app-toolbar-with-signin>

<div id="container">
    <div id="left-container">
        <p id="body-title">For the students, by the Students!</p>
        <p id="body-description">Numerous Home and Rental services just one click away. Our mission is to unite the student body in a manner that 
            benefits everyone. Looking for cheap services and rentals in your college town? Maybe you want to gain some extra cash to support your college finacials,
            or gain expreience in your field; become a service provider to your colleagues. Here at Stuserve, every user is a fellow student at your University.
            Stuserve offers transparent pricing with least margin for itself, throughout the marketplace.</p>
        
        <div id="why-us-container">
            <p id="why-us-header">Why Stuserve?</p>
            <ul id="why-us-list">
                <li>cost efficient services or services fitting your budget</li>
                <li>user-base is comprised of YOUR colleagues</li>
                <li>modernized UI allows for quick and intuitive use of our platform</li>
                <li>secured through your University's authentication process</li>
                <li>24/7 support</li>
                <li>quick services</li>
            </ul>
        </div>
        

        <!-- Sign up section -->
        <p id="signup-label">Sign up today to start finding low-priced services by you, or start advertising your services and rentals. The oppurtunities we provide students here at Stuserve are endless!</p>
        <div style="display: flex; justify-content: center; margin-top: 25px;">
            <button class="button-raised-filled" height="100" color="red" mat-raised-button (click)="signUpClick()">Join Now!</button>
        </div>
    </div>
    <div id="right-container">
        <img src="assets/happy-students.jpg">
        <a href="https://storyset.com/education">Education illustrations by Storyset</a>
    </div>
</div>
