
<!-- Include the custom default toolbar component -->
<app-toolbar-with-signin></app-toolbar-with-signin>

<div id="container">
    <div id="left-container">
        <p id="body-title">Join the Student Community!</p>
        <p id="body-description">We help students easily find low-priced services and rentals provided by your fellow students! We are the only platform that connects the student body through a service and rental management system. It is hard to advertise yourself as a student to such a large campus community, but we are here to help. Here at Stuserve, the student is our priority.</p>
        
        <!-- Temporary filler -->
        <div style="padding-top: 100px; padding-bottom: 150px; font-size: 100px; text-align: center;">...</div>

        <!-- Sign up section -->
        <p id="signup-label">Sign up today to start finding low-priced services by you, or start advertising your services and rentals. The oppurtunities we provide students here at Stuserve are endless!</p>
        <div style="display: flex; justify-content: center; margin-top: 25px;">
            <button class="button-raised-filled" height="100" color="red" mat-raised-button>Sign Up</button>
        </div>
    </div>
    <div id="right-container">
        
    </div>
</div>
