
<mat-card id="card">
    <p id="header">Service Details</p>
    <div id="container">
        <div class="row">
            <p id="service-name">{{service.name}}</p>
            <p style="display: inline-flex; vertical-align: center;"><advanced-image size="15px" *ngIf="avatar" [cldImg]="avatar"></advanced-image><span style="color: grey;">{{getUser(service.user)?.email}}</span></p>
        </div>
        <div style="display: flex; justify-content: space-between">
            <p style="color: grey; font-style: italic">{{service.type}}</p>
            <p *ngIf="service.createdAt" style="font-style: italic; color: lightgrey">{{formatDate(service.createdAt)}}</p>
        </div>
        
        <mat-divider></mat-divider>
        
        <p class="label">Category</p>
        <p>{{service.category}}</p>
        
        <p class="label">Description</p>
        <p>{{service.description}}</p>
        
        <!-- <p style="color: green; font-weight: bold; font-size: 25px">${{service.price}}</p> -->
        <p class="label">Other</p>
        <p style="color: grey">Tags</p>
        <mat-chip-listbox #chipList aria-label="Tags">
            <mat-chip-option *ngFor="let tag of service.tags">
                {{tag}}
            </mat-chip-option>
        </mat-chip-listbox>

        <p style="color: grey; margin-top: 50px">Ratings/Reviews</p>
        <div style="display: flex">
            <p style="color: grey; color: grey;">AVG: {{roundRating(service.ratings)}}/5</p>
            <p style="margin-left: 25px; color: grey;">COUNT: {{service.numOfReviews}}</p>
        </div>
        

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
              <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Rating Column -->
              <ng-container matColumnDef="rating">
                <th mat-header-cell *matHeaderCellDef> Rating </th>
                <td mat-cell *matCellDef="let element"> <span [ngClass]="{'rating-red': element.rating < 2, 
                                                                          'rating-yellow': element.rating >= 2 && element.rating < 4, 
                                                                          'rating-green': element.rating >= 4}">{{element.rating}}</span>/5 </td>
              </ng-container>

              <!-- Comment Column -->
              <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef> Comment </th>
                <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator #paginator [pageSizeOptions]="[5]"
                  showFirstLastButtons
                  aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
        

        <!-- ONLY POST REVIEW IF ORDERED -->
        <button *ngIf="isAuthenticated" mat-raised-button style="margin-top: 50px" type="button" (click)="openReview()">Post Review</button>  

        <mat-divider style="margin-top: 50px;"></mat-divider>

        <p class="label">Location</p>
        <p style="margin-top: 50px; text-align: center">{{service.location}}</p>
          <!-- Google Maps -->
        <div #map style="width: 600px; height: 600px; margin: auto"></div>

        <mat-divider style="margin-top: 50px;"></mat-divider>

        <p class="label">Payment</p>
        <!-- MUST PASS PRICING!!! -->
        <!-- <app-stripe-form [amount]="service.price*100"></app-stripe-form> -->
        <button mat-button type="button" (click)="openStripe()">Pay</button>
    </div>
</mat-card>
