
<mat-card id="card">
    <p id="header">Service Details</p>
    <div id="container">
        <p><b>Name: </b>{{service.name}}</p>
        <p><b>Provider: </b>{{service.user}}</p>
        <p><b>Description: </b>{{service.description}}</p>
        <p><b>Cost: </b>{{service.price}}</p>
        <p><b>Location: </b>{{service.location}}</p>
        <p><b>Ratings: </b>{{service.ratings}}</p>
        <p><b># of Reviews: </b>{{service.numOfReviews}}</p>
        <p><b>Reviews List Obj: </b>{{service.reviews}}</p>
    </div>
    <button mat-raised-button style="margin-top: 50px" type="button" (click)="openReview()">Post Review</button>
</mat-card>
