
<h1 mat-dialog-title>FILTERING</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select [(ngModel)]="data.category">
      <mat-option *ngFor="let option of this.apiClient.categories" [value]="option.name">{{option.name}}</mat-option>
      <mat-option value="">None</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>