
<mat-card id="card">
    <div id="container">
        <p id="header">Pending Services</p>
        <mat-card-content>
            <div *ngIf="!isLoading">
                <table mat-table [dataSource]="services" class="mat-elevation-z8">
                    <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
                

                    <!-- Icon Column -->
                    <!-- <ng-container matColumnDef="icon">
                        <th mat-header-cell *matHeaderCellDef> Avatar </th>
                        <td mat-cell *matCellDef="let element"> <advanced-image size="15px" [cldImg]="getProviderIcon(element)"> </advanced-image>
                        </td>
                    </ng-container> -->

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> id </th>
                    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Type Column -->
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Type </th>
                        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                    </ng-container>

                    <!-- Category Column -->
                    <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef> Category </th>
                        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                    </ng-container>
 
                    <!-- Created at Column -->
                    <ng-container matColumnDef="createdAt">
                        <th mat-header-cell *matHeaderCellDef> Created At </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
                    </ng-container>
    
                    <!-- Approve Column -->
                    <ng-container matColumnDef="approve">
                        <th mat-header-cell *matHeaderCellDef>  </th>
                        <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="approveService(element)">Approve</button> </td>
                    </ng-container>

                    <!-- Deny Column -->
                    <ng-container matColumnDef="deny">
                        <th mat-header-cell *matHeaderCellDef>  </th>
                        <td mat-cell *matCellDef="let element"> <button mat-raised-button (click)="denyService(element)">Deny</button> </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-card-content>
    </div>
</mat-card>