
<!-- Include the custom toolbar with profile component -->
<app-toolbar-with-profile></app-toolbar-with-profile>

<mat-sidenav-container id="sideNav">
    <mat-sidenav #sidenav mode="side" [(opened)]="sideNavOpened">
        <p id="navHeader">NAVIGATION</p>
        <div id="navContainer">
           <button mat-button class="navButton" (click)="navigateHome()">HOME</button>
           <button *ngIf="apiClient.consumerAccount" mat-button class="navButton" (click)="navigateViewAll()">ALL SERVICES</button>
           <button *ngIf="apiClient.providerAccount" mat-button class="navButton" (click)="navigateAddService()">ADD SERVICE</button>
           <button *ngIf="apiClient.consumerAccount" mat-button class="navButton" (click)="navigateViewPayments()">VIEW PAYMENTS</button>
           <button *ngIf="apiClient.providerAccount" mat-button class="navButton" (click)="navigateViewProviderHistory()">VIEW HISTORY</button>
           <button *ngIf="apiClient.providerAccount" mat-button class="navButton" (click)="navigateViewProviderPending()">VIEW PENDING</button>
           <button *ngIf="apiClient.providerAccount || apiClient.consumerAccount" mat-button class="navButton" (click)="navigateProfile()">PROFILE</button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div id="menu-button-container">
            <button id="menu-button" mat-button (click)="sidenav.toggle()"><mat-icon id="menu-icon">menu</mat-icon></button>
        </div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>