#container {
    width: 50vw;
    margin: auto;
    padding: 50px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

#header {
    text-align: center;
    font-size: 35px;
}

#form-container {
    padding: 50px;
}

.form-section-header {
    border-bottom: grey 1px solid;
    font-size: 20px;
}

.form-item-replica {
    background-color: #F5F5F5;
    padding-left: 15px; 
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 3px;
    border-bottom: 1px solid grey;
}
