

<mat-card id="card">
    <div id="container">
        <p id="header">Post New Service</p>
        <mat-card-content>
            <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <mat-form-field style="width: 49%" appearance="outline">
                        <mat-label>Service Name</mat-label>
                        <input required formControlName="nameControl" matInput>
                        <mat-error *ngIf="formData.controls['nameControl'].hasError('required')">Service Name is required</mat-error>
                    </mat-form-field>
                    <mat-form-field style="width: 49%" appearance="outline">
                        <mat-label>Category</mat-label>
                        <input required formControlName="categoryControl" matInput>
                        <mat-error *ngIf="formData.controls['categoryControl'].hasError('required')">Category is required</mat-error>
                    </mat-form-field>
                </div>

                <mat-form-field style="width: 100%" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea required formControlName="descriptionControl" matInput></textarea>
                    <mat-error *ngIf="formData.controls['descriptionControl'].hasError('required')">Description is required</mat-error>
                </mat-form-field>

                <div class="form-row">
                    <mat-form-field style="width: 49%" appearance="outline">
                        <mat-label>Location</mat-label>
                        <input required formControlName="locationControl" matInput>
                        <mat-error *ngIf="formData.controls['locationControl'].hasError('required')">Location is required</mat-error>
                        <mat-hint>(Currently just put city)</mat-hint>
                    </mat-form-field>
                    <mat-form-field style="width: 49%" appearance="outline">
                        <mat-label>Price</mat-label>
                        <input required mask="0*" formControlName="priceControl" matInput>
                        <mat-error *ngIf="formData.controls['priceControl'].hasError('required')">Price is required</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-row" style="margin-top: 25px;">
                    <!-- Does not actually bind to a form control, because it is a list value and not a single value.
                        Instead, it is binding to a normal class variable that is handled seperatley from the form
                        We can do this becuase we do not need validators on the list input -->
                    <mat-form-field style="width: 49%" class="tags-chip-list" appearance="outline">
                        <mat-label>Tags</mat-label>
                        <mat-chip-list #chipList aria-label="Tags selection">
                            <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
                                {{tag}}
                                <button matChipRemove>
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip>
                            <input placeholder="New Tag..."
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-hint>Type a value, followed by a COMMA, the ENTER key, or a SPACE to add it to the list</mat-hint>
                    </mat-form-field>
                </div>
                
                <button color="primary" *ngIf="!isLoading" mat-raised-button style="margin-top: 50px;">Submit Service</button>

                <mat-spinner *ngIf="isLoading" style="margin: auto"></mat-spinner>
            </form>
        </mat-card-content>
    </div>
</mat-card>