
<!-- Include the custom default toolbar component -->
<app-default-toolbar></app-default-toolbar>


<div id="container">
    <p id="header">Consumer Sign up</p>

    <mat-card id="form-container">
        <p class="form-section-header">Personal Information</p>
        <mat-card-content>
            <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <mat-form-field style="width: 45%" appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input required formControlName="fnameControl" matInput>
                        <mat-error *ngIf="formData.controls['fnameControl'].hasError('required')">First Name is required</mat-error>
                    </mat-form-field>
                    <mat-form-field  style="width: 45%" appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input required formControlName="lnameControl" matInput>
                        <mat-error *ngIf="formData.controls['lnameControl'].hasError('required')">Last Name is required</mat-error>
                    </mat-form-field>
                </div>
                
                <div class="form-row">
                    <mat-form-field style="width: 45%" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input email required formControlName="emailControl" matInput>
                        <mat-error *ngIf="formData.controls['emailControl'].hasError('required')">Email is required</mat-error>
                        <mat-error *ngIf="formData.controls['emailControl'].hasError('email')">Email is invalid</mat-error>
                    </mat-form-field>
                    <mat-form-field style="width: 45%" appearance="fill">
                        <mat-label>Phone #</mat-label>
                        <input mask="(000) 000-0000" [minlength]="10" required formControlName="phoneControl" matInput>
                        <mat-error *ngIf="formData.controls['phoneControl'].hasError('required')">Phone number is required</mat-error>
                        <mat-error *ngIf="formData.controls['phoneControl'].hasError('minlength')">Phone number is too short</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-row">
                    <mat-form-field style="width: 45%" appearance="fill">
                        <mat-label>School Year</mat-label>
                        <mat-select required formControlName="yearControl">
                            <mat-option value="freshman">Freshman</mat-option>
                            <mat-option value="sophomore">Sophomore</mat-option>
                            <mat-option value="junior">Junior</mat-option>
                            <mat-option value="senior">Senior</mat-option>
                            <mat-option value="other">Other</mat-option>
                          </mat-select>
                        <mat-error *ngIf="formData.controls['yearControl'].hasError('required')">School Year is required</mat-error>
                    </mat-form-field>
                    <div>
                        <input type="file" (change)="handleUpload($event)">
                        <img [src]="logo" >
                    </div>
                </div>

                <p class="form-section-header" style="margin-top: 50px;">Location</p>

                <div class="form-row">
                    <mat-form-field style="width: 100%" appearance="fill">
                        <mat-label>Street Address</mat-label>
                        <input required formControlName="addressControl" matInput #placesInput placeholder="Enter a location" (focus)="autocomplete()">
                        <mat-error *ngIf="formData.controls['addressControl'].hasError('required')">Street Address is required</mat-error>
                    </mat-form-field>
                </div>

                <p class="form-section-header" style="margin-top: 50px;">Account Information</p>

                <div style="display: flex; justify-content: right;">
                    <mat-icon style="transform: scale(0.75);" matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </div>

                <div class="form-row">
                    <div style="width: 45%">
                        <p class="form-item-replica"><span style="color: grey;">Username: </span><span>{{username}}</span></p>
                        <button #generateUsernameButton mat-raised-button type="button" color="primary" (click)="generateUsername()">Generate Username</button>
                    </div>
                    <mat-form-field style="width: 45%; height: fit-content; margin-top: 18px" appearance="fill">
                        <mat-label>Password</mat-label>
                        <input [type]="hidePassword ? 'password' : 'text'" required [minlength]="8" formControlName="passwordControl" matInput>
                        <mat-error *ngIf="formData.controls['passwordControl'].hasError('required')">Password is required</mat-error>
                        <mat-error *ngIf="formData.controls['passwordControl'].hasError('minlength')">Password is too short</mat-error>
                    </mat-form-field>
                </div>

                
                <div class="form-row" style="margin-top: 25px;">
                    <!-- Does not actually bind to a form control, because it is a list value and not a single value.
                        Instead, it is binding to a normal class variable that is handled seperatley from the form
                        We can do this becuase we do not need validators on the list input -->
                    <mat-form-field style="width: 45%" class="interests-chip-list" appearance="fill">
                        <mat-label>Interests</mat-label>
                        <mat-chip-grid #chipList aria-label="Interests selection">
                            <mat-chip-row *ngFor="let tag of interests" (removed)="remove(tag)">
                                {{tag}}
                                <button matChipRemove>
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip-row>
                            <input placeholder="New Interest..."
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="add($event)">
                        </mat-chip-grid>
                        <mat-hint>Type a value, followed by a COMMA, the ENTER key, or a SPACE to add it to the list</mat-hint>
                    </mat-form-field>
                </div>
                
                <button *ngIf="!isLoading" mat-button style="margin-top: 50px;">Submit</button>

                <mat-spinner *ngIf="isLoading" style="margin: auto"></mat-spinner>
            </form>
        </mat-card-content>
    </mat-card>  
</div>

