

#card {
    /* margin: 25px; */
    min-height: 75vh;
    width: 50vw;
    margin: auto;
}

#container {
    margin: auto;
    padding: 50px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

#header {
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 50px;
}

#form-container {
    padding: 50px;
}