
<div id="container">
    <p id="header">Select Which Type of Account</p>

    <p class="button-label">
        A consumer account will allow you to search over a wide range of 
        hosted services and rentals. You will be able to find low-priced 
        services provided by your fellow students with ease, and even handle 
        the payments through our app!</p>
    <button height="100" color="primary" mat-raised-button [routerLink]="'/signup-consumer'" (click)="consumerClick()">Consumer</button>

    <p class="button-label">
        A seller or provider account will allow you to make and customize 
        postings for any services or rentals you would like to advertise. 
        Our platform will help you reach every student in the student body!</p>
    <button height="100" color="primary" mat-raised-button [routerLink]="'/signup-provider'" (click)="providerClick()">Provider</button>
</div>

